pipeline/filteractivity.json
{
	"name": "filteractivity",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.valuetofilter",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item(), 6)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "out",
					"value": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"valuetofilter": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7
				]
			}
		},
		"variables": {
			"out": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}